        body{ 
               font-family: 'Poppins', sans-serif;
    
                }
 h1             {font-size: 50px;}               
 span           {color: orange;}
 section        { display: flex; }
 .half-width    {width: 80%;
                padding-left: 5%;
                }
 .half-width img{width: 80%;}
 .link-justification
                {text-decoration: none;
                background-image: linear-gradient(white,rgb(114, 112, 112));
                border-radius: 5px;
                color: black;
                padding:15px;
                }
 .cover-image   {background-image: url(images/top-banner.png);
                 background-repeat: no-repeat;
                }               
.ndpart{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}